# Absolute paths to your data directories
UPLOAD_LOCATION=/mnt/Storage/photos
DB_DATA_LOCATION=/mnt/Storage/immich/postgres

# Standard Immich PostgreSQL credentials
DB_PASSWORD=postgres_password
DB_USERNAME=postgres
DB_DATABASE_NAME=immich

IMMICH_VERSION=release
